<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.amplify_java">

    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:hardwareAccelerated="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Secure App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Amplifyjava"
        tools:targetApi="31">
        <activity
            android:name=".QRScanner"
            android:exported="true"/>
        <activity android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"/>
        <activity
            android:name=".Register"
            android:exported="true"
            android:parentActivityName=".LoginUI"/>

        <activity
            android:name=".Confirm"
            android:exported="false"
            android:parentActivityName=".Register"/>

            <!-- android:theme="@style/CustomTheme">
        </activity-->
        <activity
            android:name=".LoginUI"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
    </application>

</manifest>